*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(158, 238, 238);
  color: black;
  font-family: sans-serif;
  font-size: 16px;
}

.title {
  font-family: 'sedan-sc', serif;
}

.fontname {

}

.fable {

}