*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to bottom, #DAE9F0, #81CBDE, #3672FF);
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  min-height: 100%;
}

.title {
  font-family: 'Sedan-Sc', serif;
  font-size: 2.5rem;
  color: rgb(14, 32, 100);
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5px;
}

.fontname {
  font-family: 'Sedan-Sc', serif;
  font-size: 0.75rem;
  color: gray;
  text-align: center;
  margin-bottom: 1%;
}

.fable {
  font-family: 'montserrat', serif;
  line-height: 1.5;
  margin: 15px 600px 30px;
  color: rgb(32, 32, 32);
  text-align: center;
} 